<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Genre Title</th><th>Actions</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td> <%= rs[i].genreName %> </td>
            <td>
                <a href="/genre/delete/?genre_id=<%= rs[i].genreID %>&title=<%= rs[i].genreName %>">Delete</a>
                <a href="/genre/edit/?genre_id=<%= rs[i].genreID %>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No movies exist.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/genre/new">Insert New Genre</a>
</div>